<h4>New Blog</h4>

<%= form_for @blog do |b| %>
  <%= b.label :blog_name %>
  <%= b.text_field :blog_name %>
  <br>
  <%= b.label :blog_content %>
  <%= b.text_field :blog_content %>
  <br>
  <%= b.submit "Post Blog" %>
  <% end %>