%h1 Hospital

= link_to 'New Patients', new_patient_path

%br
%br
%ul
-@patient.each do |patient|
  %li
  =patient.name
  (#{patient.workflow_state})
  =link_to "Edit", edit_patient_path(patient)
  |
  =link_to "Show Patient Info", patient_path(patient)
  |
  =link_to "Remove Patient", patient_path(patient), method: :delete
  %br
  =form_for patient do |f| 
    - if patient.workflow_state == 'waiting'
      = f.label :workflow_state 'Send to'
      = f.select :workflow_state, options_for_select(Patient::WAITING), include_blank: '--- Select ---'

    - elsif patient.workflow_state == "doctor"
      = f.label :workflow_state
      = f.select :workflow_state, options_for_select(Patient::DOCTOR), include_blank: '--- Select ---'

    - elsif patient.workflow_state == "xray"
      = f.label :workflow_state
      = f.select :workflow_state, options_for_select(Patient::XRAY), include_blank: '--- Select ---'

    - elsif patient.workflow_state == "surgery"
      = f.label :workflow_state
      = f.select :workflow_state, options_for_select(Patient::SURGERY), include_blank: '--- Select ---'
 
    - elsif patient.workflow_state == "paybill"
      = f.label :workflow_state
      = f.select :workflow_state, options_for_select(Patient::PAYBILL), include_blank: '--- Select ---'
   
    - elsif patient.workflow_state == "leaving"
    = f.submit

%h2 Past Patients
-@patient_leaving.each do |patients|
  %hr
  =patients.name
  |
  =link_to "Show Patient Info", patient_path(patients)

