= form_for @discussion do |f|
  = f.label :title
  = f.text_field :title
  = f.label :content
  = f.text_area :content
  = f.label :discussion_type
  = f.select :discussion_type, options_for_select(Discussion::DISCUSSION_TYPE, @discussion.discussion_type), include_blank: "-- Select --"
  = f.submit "Create" , class: "discussion_submit"